includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
parameters:
    bootstrapFiles:
        - %currentWorkingDirectory%/vendor/codeception/codeception/autoload.php
        - %currentWorkingDirectory%/tests/_support/_generated/FunctionalTesterActions.php
        - %currentWorkingDirectory%/tests/_support/_generated/UnitTesterActions.php
    checkMissingIterableValueType: false  #TODO: Need to fix and remove this setting
    ignoreErrors:
        -
            message: '#Variable \$this might not be defined.#'
            paths:
                - %currentWorkingDirectory%/views/*
                - %currentWorkingDirectory%/modules/*/views/*
        -
            message: '#Variable \$[a-zA-Z0-9\\_]+ might not be defined.#'
            paths:
                - %currentWorkingDirectory%/mail/*
                - %currentWorkingDirectory%/views/*
                - %currentWorkingDirectory%/modules/*/mail/*
                - %currentWorkingDirectory%/modules/*/views/*
        -
            message: '#PHPDoc tag @var does not specify variable name.#'
            paths:
                - %currentWorkingDirectory%/mail/*
                - %currentWorkingDirectory%/modules/*/mail/*
        -
            message: '#Function expect invoked with [0-9] parameter|parameters, 0 required.#'
            path: %currentWorkingDirectory%/tests/*
        -
            message: '#Method [a-zA-Z0-9:\\_]+\(\) has no return typehint specified.#'
            path: %currentWorkingDirectory%/tests/*

        - '#Access to static property \$app on an unknown class Yii.#'
        - '#Call to static method [a-zA-Z0-9\\_]+\(\) on an unknown class Yii.#'
        - '#Constant YII_ENV_[A-Z0-9\\_]+ not found.#'
        - '#Constant YII_DEBUG not found.#'
    excludes_analyse:
        - %currentWorkingDirectory%/requirements.php #TODO: Need to fix this file
        - %currentWorkingDirectory%/console/fixtures/data/*
        - %currentWorkingDirectory%/console/migrations/*
        - %currentWorkingDirectory%/tests/_data/*
        - %currentWorkingDirectory%/tests/_output/*
        - %currentWorkingDirectory%/tests/_support/_generated*
        - %currentWorkingDirectory%/vendor/*
        - %currentWorkingDirectory%/runtime/*
        - %currentWorkingDirectory%/web/assets/*
